<div class="row full-height">
    <div class="col-md-8 comment-list blog-list full-height">
        <div class="panel panel-default full-height">
            <div class="list-group" scroll-top-percent="listScrollTop">
                <div ng-if="comments.$resolved && blogs.length == 0">
                    empty
                </div>
                <div class="list-group-item row" ng-repeat="comment in comments" ng-click="showBlog(blog)"
                     ng-class="{active: (comment.id === currComment.id)}">
                    <div class="col-md-9">
                        <div>
                            <a href="">{{ comment.blog.title }}</a>
                        </div>
                        <div ng-bind-html="comment.content"></div>
                        <p class="list-group-item-text">
                            {{ comment.created_at }}
                            <a href="" ng-click="remove(currBlog)"><i class="fa fa-trash-o"></i> 删除</a>
                        </p>
                    </div>
                    <div class="pull-right author">
                        <div class="detail">
                            <h3>{{ comment.author_name }}</h3>
                            <small>{{ comment.author_email }}</small>
                            <small>{{ comment.ip }}</small>
                        </div>
                        <img ng-src="{{ comment.author_avatar }}"/>
                    </div>
                </div>
                <div class="list-group-item">
                    <a href="" ng-click="getBlogs(page.current + 1)">查看更多</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 blog-preview full-height">
        <div class="panel panel-default full-height">
            <div class="panel-heading clearfix" ng-show="currBlog">
                <div class="pull-left">
                    <h3><a href="" target="_blank">{{currBlog.title }}</a></h3>

                    <div class="blog-misc">
                        <span><i class="fa fa-book"></i> {{currBlog.category ? currBlog.category.name : '未分类'}}</span>
                        <span ng-repeat="tag in currBlog.tag_list"><i class="icon-tag"></i> {{tag}}</span>
                    </div>
                </div>

                <div class="actions pull-right">
                    <a href="#/blog/{{currBlog.id}}/edit" class="btn btn-primary"><i class="fa fa-pencil"></i> 修改</a>
                    <a href="" ng-click="remove(currBlog)" class="btn btn-danger"><i class="fa fa-trash-o"> 删除</i></a>
                </div>
            </div>
            <div class="blog-preview-content">

                <div ng-bind-html="currBlog.html_content"></div>
            </div>
        </div>
    </div>
</div>