<div class="row full-height">
    <div class="comment-list full-height" ng-class="{'col-md-8': currComment, 'col-md-12': !currComment}">
        <div class="panel panel-blue">
            <div class="panel-heading">共有 10 条评论</div>
            <div class="list-group" scroll-top-percent="listScrollTop">
                <div ng-if="comments.$resolved && blogs.length == 0">
                    empty
                </div>
                <div class="list-group-item clearfix" ng-repeat="comment in comments"
                     ng-class="{active: (comment.id === currComment.id)}">
                    <div class="content">
                        <a class="title" ng-href="/blog/{{ comment.blog.slug}}.html#comment-{{ comment.id }}"
                           target="_blank">{{ comment.blog.title }}</a>
                        <article ng-bind-html="comment.content"></article>
                        <footer>
                            <span class="date">{{ comment.created_at |date:'yyyy-MM-dd HH:mm'  }}</span>
                            <a class="action" href="" ng-click="showComment(comment)"><i class="fa fa-reply"></i> 回复</a>
                            <a class="action" href="" ng-click="remove($event, comment)"><i class="fa fa-trash-o"></i>
                                删除</a>
                        </footer>
                    </div>
                    <div class="author">
                        <div class="detail">
                            <h3>{{ comment.author_name }}</h3>
                            <small><a href="mailto: {{comment.author_email}}">{{ comment.author_email }}</a></small>
                            <small>{{ comment.ip }}</small>
                        </div>
                        <img ng-src="{{ comment.author_avatar }}"/>
                    </div>
                </div>
                <div class="list-group-item">
                    <a href="" ng-click="getComments(cursor)">查看更多</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 comment-context full-height" ng-show="currComment">
        <div class="panel panel-blue">
            <div class="panel-heading">回复评论 <a href="" ng-click="closeCurr()" class="pull-right"><i
                    class="fa fa-times"></i></a></div>
            <div class="panel-body">
                <article ng-style="{'margin-left': $index * 20 + 'px'}" ng-class="{quoted: $index > 0}"
                         ng-repeat="comment in commentContext">
                    <header>
                        <strong>{{ comment.author_name }}</strong>
                        <em>{{comment.created_at | date:'yyyy-MM-dd HH:mm' }}</em>
                    </header>
                    <section ng-bind-html="comment.content"></section>
                </article>
                <div class="reply input-group clearfix">
                    <textarea class="form-control" rows="3" ng-model="newComment.content"></textarea>
                    <div class="input-group-btn">
                        <button class="btn btn-primary pull-right" ng-click="create()">回复</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>