<div class="modal-dialog sync-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="modal.dismiss()">&times;</button>
            <h4 class="modal-title">评论数同步日志</h4>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="log in logs">
                    <span class="text-primary">[{{ log.at|date:'yyyy-MM-dd HH:mm' }}]</span>
                    <strong class="text-success" ng-if="log.status == 'success'">同步成功</strong>
                    <strong class="text-danger" ng-if="log.status != 'success'">同步失败</strong>
                    <p class="text-muted" ng-if="log.status != 'success'"> {{ log.error }}</p>
                </li>
            </ul>
            <button class="btn btn-primary btn-sm" ng-click="sync()" ng-if="!sync_loading">
                立刻同步
            </button>
            <button class="btn btn-primary btn-sm" disabled ng-if="sync_loading">
                <i class="fa fa-refresh fa-spin"></i> 同步中...
            </button>
        </div>
    </div>
</div>