<div class="row full-height">
    <div class="col-md-4 blog-list full-height">
        <div class="panel panel-blue">
            <div class="panel-heading clearfix">
                <h2>{{currStatus.name}} <small ng-show="blogs"> {{page.totalCount}} 篇文章</small></h2>
                <ul>
                    <li><a href="#/blog/new" title="新建文章"><i class="fa fa-pencil"></i></a></li>
                    <li class="dropdown">
                        <a href="#" dropdown-toggle><i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="s in STATUS"><a ng-href="#/blog?status={{s.value}}">{{ s.name }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="list-group" scroll-top-percent="listScrollTop">
                <div ng-if="$promise.$resolved && blogs.length == 0" class="empty">
                    <div>
                        <h3>暂时没有文章</h3>
                        <h3><a href="#/blog/new"><i class="fa fa-pencil"></i> 写文章</a></h3>
                    </div>
                </div>
                <div class="list-group-item clearfix" ng-repeat="blog in blogs" ng-click="showBlog(blog)"
                     ng-class="{active: (blog.id === currBlog.id)}">
                    <div class="pull-left">
                        <h4 class="list-group-item-heading">
                            {{ blog.title }}
                        </h4>

                        <p class="list-group-item-text">
                            <span><i class="fa fa-clock-o"></i> {{ blog.created_at | date:'yyyy-MM-dd HH:mm'}}</span>
                            <span><i class="fa fa-comments"></i> {{ blog.comment_count }}</span>
                        </p>
                    </div>
                    <div class="pull-right tools">
                        <a href="#/blog/{{blog.id}}/edit"><i class="fa fa-edit"></i></a>
                        <a href="" ng-click="remove(blog, $event)"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
                <div class="list-group-item" ng-if="page.hasNext">
                    <a href="" ng-click="getBlogs(page.current + 1)">查看更多...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 blog-preview full-height">
        <div class="panel panel-default full-height">
            <div class="panel-heading clearfix" ng-show="currBlog">
                <div class="pull-left">
                    <h2>
                        <a ng-href="/blog/{{currBlog.slug}}.html" target="_blank">{{currBlog.title }} <i class="fa fa-external-link"></i></a>
                    </h2>
                </div>

                <div class="actions pull-right">
                    <a href="" ng-click="publish(currBlog)" ng-if="!currBlog.publish" class="btn btn-primary"><i class="fa fa-check"></i> 发布</a>
                    <a href="#/blog/{{currBlog.id}}/edit" class="btn btn-primary"><i class="fa fa-edit"></i> 修改</a>
                    <a href="" ng-click="remove(currBlog)" class="btn btn-danger"><i class="fa fa-trash-o"> </i>
                        删除</a>
                </div>
            </div>
            <div class="blog-preview-content">
                <div class="misc" ng-if="currBlog.category || currBlog.tag_list">
                    <span ng-if="currBlog.category">
                        <i class="fa fa-book"></i> {{ currBlog.category.name }}
                    </span>
                    <span ng-repeat="tag in currBlog.tag_list">
                        <i class="fa fa-tag"></i> {{ tag }}
                    </span>
                </div>
                <div ng-bind-html="currBlog.html_content"></div>
            </div>
        </div>
    </div>
</div>