<div class="row full-height setting-wrap">
    <div class="col-md-1 nav-wrap">
        <div ng-include="relativeUrl('./nav.html')"></div>
    </div>
    <div class="col-md-11 full-height panel-wrap">
        <div class="panel panel-default full-height">
            <div class="panel-body full-height">
                <div class="intro">
                    <p>
                        Klog2 不再自己实现评论系统，而采用 <a target="_blank" href="http://disqus.com/">Disqus 评论插件</a> <br/>
                        您需要先申请一个 Disqus 帐号，然后创建 <a href="http://help.disqus.com/customer/portal/articles/787016-how-to-create-an-api-application" target="_blank">API application</a> ，最后将相应的参数填写到这里
                    </p>
                    <p>
                        <button class="btn btn-primary" ng-click="enableDisqus(true)" ng-if="!disqus.enable">
                            <i class="fa fa-play"></i> 启用 Disqus
                        </button>
                        <button class="btn btn-primary" ng-click="enableDisqus(false)" ng-if="disqus.enable">
                            <i class="fa fa-pause"></i> 停用 Disqus
                        </button>
                    </p>
                </div>
                <form class="form-horizontal" name="form" ng-submit="save()" validation="disqus">
                        <div class="form-group">
                            <label class="col-md-1 control-label">Shortname</label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" name="shortname" ng-model="disqus.shortname" ng-disabled="!disqus.enable" required server-valid="serverError" />
                                <div error-for="form.shortname"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label">API Secret</label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" name="api_secret" ng-model="disqus.api_secret" ng-disabled="!disqus.enable" required/>
                                <div error-for="form.api_secret"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label">Access Token</label>

                            <div class="col-md-5">
                                <input type="text" class="form-control" name="access_token" ng-model="disqus.access_token" ng-disabled="!disqus.enable" required/>
                                <div error-for="form.access_token"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label"></label>
                            <div class="col-md-5">
                                <button type="submit" class="btn btn-primary btn-lg" ng-disabled="!disqus.enable" loading-btn loading-cancel="disqus.$resolved">保 存</button>
                                <span class="save-success" ng-show="saveSuccess"><i class="fa fa-check-circle"></i> 保存成功</span>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>