<div class="row full-height setting-wrap">
    <div class="col-md-1 nav-wrap">
        <div ng-include="relativeUrl('./nav.html')"></div>
    </div>
    <div class="col-md-11 full-height panel-wrap">
        <div class="panel panel-default full-height">
            <div class="panel-body full-height">
                <div class="intro">
                    <p>
                        Klog2 可以嵌入 <a
                            href="https://developers.google.com/analytics/resources/concepts/gaConceptsAccounts"
                            target="_blank">Google Analytics</a> 统计，
                        亦可通过 Google API 显示简单的统计报表 <br/>
                        Google API 的相关设置参见 <a
                            href="https://github.com/tpitale/legato/wiki/OAuth2-and-Google#service-accounts"
                            target="_blank">Legato:Server Account</a>
                    </p>
                </div>
                <form class="form-horizontal ga-form" name="form" ng-submit="save()" validation="ga">
                    <div class="form-group">
                        <label class="col-md-1 control-label">GA Account</label>

                        <div class="col-md-5">
                            <input type="text" class="form-control" ng-model="ga.account"/>
                            <span class="help-block">填写以开启 Google Analytics 统计（如 UA-XXXX-Y）</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">统计图表</label>

                        <div class="col-md-5">
                            <label class="radio-inline">
                                <input type="radio" ng-value="true" ng-model="ga.chart_enable"/> 显示
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-value="false" ng-model="ga.chart_enable"/> 不显示
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">Private Key File</label>

                        <div class="col-md-5">
                            <div>{{ ga.secret_file.file_name }}</div>
                            <button file-input="upload(files)" accept=".p12" ng-disabled="!ga.chart_enable"
                                    type="button" class="btn btn-default btn-sm">上传文件
                            </button>
                            <input type="hidden" ng-required="ga.chart_enable" ng-model="ga.secret_file.id"
                                   name="secret_file"/>

                            <div error-for="form.secret_file"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">API Email</label>

                        <div class="col-md-5">
                            <input type="email" class="form-control" ng-disabled="!ga.chart_enable" name="api_email"
                                   ng-model="ga.api_email" ng-required="ga.chart_enable" server-valid="serverError"/>

                            <div error-for="form.api_email"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label"></label>

                        <div class="col-md-5">
                            <button type="submit" class="btn btn-primary btn-lg" loading-btn
                                    loading-cancel="saveSuccess || serverError">保 存
                            </button>
                            <span class="save-success" ng-show="saveSuccess">
                                <i class="fa fa-check-circle"></i> 保存成功
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>