<ul class="nav nav-tabs nav-stacked">
    <li ng-class="{active: navClass == 'website' }">
        <a href="#/setting/website">基本信息</a>
    </li>
    <li ng-class="{active: navClass == 'category' }">
        <a href="#/setting/category">分类设置</a>
    </li>
    <li ng-class="{active: navClass == 'password' }">
        <a href="#/setting/password">密码设置</a>
    </li>
    <li ng-class="{active: navClass == 'disqus' }">
        <a href="#/setting/disqus">Disqus 设置</a>
    </li>
    <li ng-class="{active: navClass == 'ga' }">
        <a href="#/setting/ga">GA 统计</a>
    </li>
    <li ng-class="{active: navClass == 'attach' }">
        <a href="#/setting/attach">附件管理</a>
    </li>
</ul>