<div class="row full-height setting-wrap">
    <div class="col-md-1 nav-wrap">
        <div ng-include="relativeUrl('./nav.html')"></div>
    </div>
    <div class="col-md-11 full-height panel-wrap">
        <div class="panel panel-default full-height">
            <div class="panel-body full-height">
                <form class="form-horizontal" name="form" ng-submit="save()" validation="password">
                    <div class="form-group">
                        <label class="col-md-1 control-label">旧密码</label>

                        <div class="col-md-5">
                            <input type="password" class="form-control" name="old_pw" ng-model="password.old_pw"
                                   required server-valid="serverError"/>

                            <div error-for="form.old_pw"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">新密码</label>

                        <div class="col-md-5">
                            <input type="password" class="form-control" name="new_pw" ng-model="password.new_pw"
                                   required ng-minlength="6"/>

                            <div error-for="form.new_pw"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">确认新密码</label>

                        <div class="col-md-5">
                            <input type="password" class="form-control" name="new_pw_confirmation"
                                   ng-model="password.new_pw_confirmation" ng-equal-to="password.new_pw"/>

                            <div error-for="form.new_pw_confirmation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label"></label>

                        <div class="col-md-5">
                            <button type="submit" class="btn btn-primary btn-lg" loading-btn loading-cancel="saveSuccess || serverError">保 存</button>
                            <span class="save-success" ng-show="saveSuccess"><i class="fa fa-check-circle"></i> 保存成功</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>