// 评论列表
.comment-list {
  @include single-transition(width, 2s, ease-in, 1s);

  .panel-heading {
    @include clearfix();

    h2 {
      float: left;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      padding-left: 20px;
      margin: 0;
    }
  }

  .list-group {
    overflow: auto;
    height: calc(100% - 40px);
  }

  .content {
    float: left;
    width: calc(100% - 350px);
    padding: 0 15px;

    .title {
      display: inline-block;
      margin-bottom: 5px;
    }

    article {
      margin-bottom: 30px;
      cursor: pointer;
    }

    footer {
      position: absolute;
      bottom: 5px;
    }

    .date {
      color: $gray-light;
    }

    .action {
      margin-left: 10px;
    }
  }

  .author {
    margin-right: 5px;
    width: 280px;
    float: right;

    img {
      height: 92px;
      width: 92px;
      border-radius: 5px;
      float: right;
      margin-left: 5px;
    }

    .detail {
      float: left;
      width: 180px;
      overflow: hidden;

      h3 {
        font-size: 18px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 20px;
      }

      small {
        display: block;
        color: $gray-light;
        margin-bottom: 5px;
        word-break: break-all;
      }
    }
  }
}

.comment-context {
  .panel-heading {
    padding: 10px 15px;

    a {
      color: white;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }

  .panel-body {
    height: calc(100% - 40px - 101px - 30px); // header + reply + margin
    overflow: auto;
    padding: 0px 20px;
    margin: 15px 0;
  }

  article {
    padding: 5px 0;
    margin-bottom: 20px;

    header {
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 0;
    }
  }

  .quoted {
    color: $gray-light;
    border-left: 2px solid $gray-light;
    padding-left: 10px;
  }

  // 回复区域
  .reply {
    padding: 10px 8px;
    border-top: 1px solid $gray-lighter;
    @include clearfix();

    textarea {
      height: 80px;
      float: left;
      width: calc(100% - 60px);
      @include no-border-input();
    }

    button {
      height: 80px;
      width: 60px;
      float: left;
    }
  }
}