.dashboard-widget {
  height: 250px;
  margin-bottom: 30px;

  .panel {
    padding: 10px 20px;

    h2 {
      margin: 5px 0;
      font-size: 20px;
    }

    small {
      color: $gray-light;
      font-size: 14px;
      margin-left: 5px;

      a {
        color: $gray-light;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }

    // 其他说明
    .others {
      font-size: 12px;
      color: $gray-light;
      position: absolute;
      bottom: 5px;
      right: 20px;
    }
  }

  .panel-loading {
    background: asset-url("coffee.gif") white no-repeat center;
  }

  // 第一个统计面板
  .statistics {
    padding-top: 20px;

    .total-visits {
      text-align: center;

      strong {
        font-size: 80px;
      }
    }

    .stat-count {
      text-align: center;

      span {
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      strong {
        font-size: 50px;
      }
    }
  }
}

// 同步日志
.sync-modal {
  width: 400px;

  ul {
    padding-left: 0;
    list-style: none;
  }
}