.page-preview {

  h2 {
    margin: 10px 30px;

    a {
      i {
        font-size: 15px;
        display: none;
      }
    }

    a:hover {
      color: $link-color;
      i {
        display: inline;
      }
    }
  }

  .content {
    height: calc(100% - 53px);
    overflow: auto;
    margin-left: 30px;

    > div {
      max-width: 800px;
    }
  }

  .editor {
    height: 100%;
    padding-right: 30px;

    input, textarea {
      border: none;
      box-shadow: none;
      border-radius: 0;

      &:focus {
        box-shadow: none;
      }
    }

    .title {
      border-bottom: 1px solid $gray-lighter;

      input {
        float: left;
        width: calc(100% - 100px);
        height: 52px;
        font-size: 30px;
      }

      .action {
        float: right;
        margin-top: 9px;

        button {
          margin-right: 5px;
        }
      }
    }

    textarea {
      height: calc(100% - 53px);
    }
  }
}