// 设置
.setting-wrap {
  .nav-wrap {
    padding-right: 0;
    padding-top: 25px;
    margin-right: -3px;
    z-index: 1000;
    width: 130px;
  }

  .panel-wrap {
    padding-left: 0;
    width: calc(100% - 130px);
  }

  .panel-body {
    padding: 30px 50px;
    overflow: auto;
  }

  legend {
    padding-left: 10px;
    padding-bottom: 5px;
    font-weight: bolder;
  }

  .form-group {
    margin-bottom: 20px;

    .form-control {
      width: 400px;
    }

    .help-block {
      margin-bottom: 0;

      a {
        color: lighten($link-color, 10%);
      }
    }
  }

  .website-form {
    .control-label {
      width: 120px;
    }
  }

  .intro {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 40px;
    padding: 20px;

    p {
      margin-bottom: 20px;
      line-height: 2;
    }
  }
}