<form name="form" id="blogForm" class="panel panel-info full-height blog-editor" action="/blog/preview" method="post"
      target="_blank" validation="blog" ng-submit="save($event)">
    <input type="hidden" ng-value="CSRF_TOKEN" name="authenticity_token"/>

    <div class="panel-body row">
        <div class="title">
            <input type="text" class="form-control" placeholder="文章标题" name="title"
                   ng-model="blog.title" maxlength="25" required ng-minlength="2" autofocus autocomplete="off"/>
        </div>
        <div class="col-md-6 content-wrap">
            <textarea class="content form-control" placeholder="写点什么..." ng-model="blog.content" name="content"
                      selection="contentSel" scroll-top-percent="scrollTopPercent" required
                      ng-minlength="5"></textarea>

            <div class="upload-drop" file-drop="doUpload(files)" accept="{{UPLOAD_FILE_TYPES}}">
                <div class="tip">将文件拖至此处</div>
            </div>
            <div class="tools">
                <a href="" ng-click="showTip()" title="Markdown 帮助"><i class="fa fa-question-circle"></i></a>
                <a href="" file-input="doUpload(files)" multiple="true" accept="{{UPLOAD_FILE_TYPES}}" title="上传图片或附件">
                    <i class="fa fa-upload"></i>
                </a>
                <a href="" popover-trigger="attachTrigger" popover-show="attachShow" ng-show="blog.attaches.length > 0">
                    <i class="fa fa-paperclip"></i>
                </a>

                <div class="popover bottom fade" popover-window="attachTrigger">
                    <div class="arrow"></div>
                    <ul class="upload-attaches">
                        <li ng-repeat="attach in blog.attaches" class="clearfix">
                            <a title="{{attach.file_name}}" ng-href="{{attach.file.url}}" ng-if="attach.id"
                               class="title pull-left" target="_blank">
                                {{attach.file_name}}
                            </a>
                            <span class="title pull-left" style="width:100px" ng-if="!attach.id">
                                {{attach.originalFile.name}}
                            </span>

                            <div class="pull-right">
                                <div class="progress progress-striped active" ng-if="!attach.id">
                                    <div class="progress-bar" ng-style="{width: attach.originalFile.percent+'%'}">
                                        <span class="sr-only">{{attach.originalFile.percent}}% Complete</span>
                                    </div>
                                </div>
                                <a ng-if="attach.id" class="action" title="删除附件" ng-click="removeAttach(attach)"
                                   href="">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                                <a ng-if="attach.id" class="action" title="插入文章" ng-click="insertCode(attach)" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 preview-wrap">
            <a href="" class="tip" ng-click="preview()"><i class="fa fa-external-link"></i> 预览</a>

            <div class="preview" ng-bind-html="htmlContent" scroll-top-percent="scrollTopPercent"></div>
        </div>
    </div>
    <div class="panel-footer">
        <button type="submit" name="submitBtn" class="btn btn-primary btn-submit"
                ng-click1="save($event)" ng-class="{'btn-warning': blog.status == 0}">
            {{ blog.status == 0 ? '存为草稿' : '立即发布' }}
        </button>
        <a href="" popover-trigger="configTrigger" class="btn-config">
            <i class="fa fa-cog"></i>
        </a>

        <div class="popover top fade" popover-window="configTrigger" style="max-width: none;">
            <div class="arrow"></div>
            <div ng-include="relativeUrl('./config.html')"></div>
        </div>
        <div class="tooltip top fade popover-error" popover-window="errorTrigger" style="">
            <div class="tooltip-arrow"></div>
            <div class="tooltip-inner">
                <div ng-repeat="(name,error) in form.$errorMessages"><i class="fa fa-times-circle"></i> {{error}}</div>
            </div>
        </div>
    </div>
</form>