/////////////
// 外部页面
/////////////
@import "bootstrap";
@import "font-awesome";
@import "compass/css3";
@import "compass/layout";

$c1: #9773B2;
$c2: #FBFFD7;
$c3: #FEFFF0;

body {
  //background: #33332D;
  background: $c1;
  font-family: Helvetica, Tahoma, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
}

h1, h2, h3, h4 {
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  color: $c1;
}

h1, h2, h3 {
  font-weight: bold;
}

h1, h2 {
  font-size: 40px;
}

h1 a, h2 a {
  color: $c1;
  @include single-transition(all 100ms ease-in);

  &:hover {
    color: lighten(#f00, 10%);
    text-decoration: none;
  }
}

// 侧边栏
.left {
  color: #FFF8E3;
  opacity: 0.5;
  position: fixed;
  bottom: 0;
  top: 0;
  text-align: center;
  @include single-transition(all 100ms ease-in);

  &:hover {
    opacity: 1;
  }
}

// LOGO
header {
  position: absolute;
  bottom: 40px;
  width: 240px;
  left: 0;
  right: 0;
  margin: 0 auto;

  h1 {
    color: $c3;
  }
}

// 导航
nav {
  margin: 40px 20px 0 0;

  ul {
    list-style: none;
  }

  li {
    text-align: right;
  }

  a {
    font-size: 30px;
    color: $c3;
    font-weight: bold;
    @include single-transition(all 100ms ease-in);

    &:hover {
      text-decoration: none;
    }
  }
}

// 主页面
.main {
  //background: #FFF8E3;
  background: $c2;
  padding: 20px 50px;

  @media (max-width: 768px) {
    padding: 10px 20px;
  }

  article {
    padding: 20px 0;
    border-bottom: 1px solid #33332D;

    .misc {
      color: $gray-light;
      margin: 10px 0;

      & > span {
        margin-right: 10px;
      }
    }

    .content {
      font-size: 16px;
      line-height: 1.8;
      max-width: 760px;
    }

  }

  .readmore {
    font-size: 1.3em;
    font-family: "Microsoft YaHei", "微软雅黑";
  }
}

// pad & phone 响应式
@media (max-width: $screen-sm-max) {
  .left {
    position: static;
    padding: 20px;
    opacity: 1;
  }

  header {
    position: static;
  }

  nav {
    ul {
      display: table;
      width: 100%;
    }

    li {
      display: table-cell;
      text-align: center;
    }
  }
}
