/////////////
// 外部页面
/////////////
@import "./public-bootstrap";
@import "font-awesome";
@import "compass/css3";
@import "compass/layout";

$left-color: #353559;
$left-color-light: #6C6CB8;
$main-color: #F7F7F9;
$main-color-gray: #7D7A6E;
$main-color-light: #FAE37A;

body {
  background: $main-color;
  font-family: Helvetica, Tahoma, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
}

h1, h2, h3, h4 {
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  color: $left-color;
}

h1, h2, h3 {
  font-weight: bold;
}

h1, h2 {
  font-size: 40px;
}

a, a:hover {
  @include single-transition(all 100ms ease-in);
  color: $left-color-light;
}

// 侧边栏
.left {
  background: $left-color;
  color: $main-color;
  position: fixed;
  bottom: 0;
  top: 0;
  text-align: center;

  header, nav {
    opacity: 0.5;
    @include single-transition(opacity 100ms ease-in);
  }

  &:hover {
    header, nav {
      opacity: 1;
    }
  }
}

// LOGO
header {
  position: absolute;
  bottom: 40px;
  width: 240px;
  left: 0;
  right: 0;
  margin: 0 auto;

  img {
    border: 2px solid $main-color;
    padding: 2px;
  }

  h1 {
    color: $main-color;
  }

  .brand {
    text-align: center;

    a {
      text-align: left;
      color: $main-color;
      opacity: 0.5;
      font-size: 2em;
      display: inline-block;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// 导航
nav {
  margin: 40px 20px 0 0;

  ul {
    list-style: none;
  }

  li {
    text-align: right;
    margin-bottom: 10px;
  }

  a {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    color: $main-color;

    &:hover, &.active {
      text-decoration: none;
      background-color: $main-color;
      color: $left-color;
    }
  }
}

// 主页面
.main {
  background: $main-color;
  padding: 0;

  article {
    max-width: 800px;
    margin-left: 5%;
    padding: 30px 0;
    border-bottom: 1px dashed $main-color-gray;

    &:last-of-type {
      border-bottom: none;
    }

    h2 {
      margin-top: 5px;

      a {
        color: $left-color;

        &:hover {
          color: $left-color-light;
          text-decoration: none;
        }
      }
    }

    // 时间、分类、tag 等
    .misc {
      color: $main-color-gray;
      margin: 10px 0;

      .item {
        margin-right: 10px;
      }

      a {
        color: $main-color-gray;
      }
    }

    .label {
      background: $main-color-gray;

      &:hover {
        color: $main-color;
        background: $left-color;
      }
    }

    .content {
      font-size: 16px;
      line-height: 1.8;
    }

  }

  .readmore {
    font-size: 1.3em;
    font-family: "Microsoft YaHei", "微软雅黑";
  }

  .blog-siblings {
    border-bottom: 1px dashed $main-color-gray;
    padding: 20px 0;
  }

  .comments {
    padding: 20px 0;
  }

  footer {
    margin-left: 5%;
    padding: 10px 0;
    max-width: 800px;
    text-align: center;
  }
}

// 存档页
.archive {
  h2 {
    font-size: 50px;
    margin-top: 20px !important;
  }

  ul {
    list-style: none;
  }

  li {
    padding: 30px 0;
    border-bottom: 1px dashed $main-color-gray;

    h3 {
      font-size: 24px;
      display: inline-block;
      margin: 0;

      a {
        color: $left-color;

        &:hover {
          color: $left-color-light;
          text-decoration: none;
        }
      }
    }

    em {
      float: right;
      color: $main-color-gray;
    }
  }
}

// pad & phone 响应式
@media (max-width: $screen-sm-max) {
  .left {
    position: static;
    padding: 20px 0;
    opacity: 1;
  }

  header {
    position: static;
  }

  nav {
    width: 100%;

    ul {
      display: table;
      width: 100%;
      padding-left: 0;
    }

    li {
      display: table-cell;
      text-align: center;
    }
  }
}

// phone 响应式
@media (max-width: $screen-xs-max) {
  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }

  nav {
    a {
      font-size: 20px;
    }
  }

  article {
    margin-right: 20px;
    margin-left: 20px;
  }

}