/////////////
// 外部页面
/////////////
@import "bootstrap";
@import "font-awesome";
@import "klog2/mixins";

body {
  background: #33332D;
  font-family: Helvetica, Tahoma, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
}

h1, h2, h3, h4 {
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
}

h1, h2 {
  font-size: 40px;
}

.left {
  color: #FFF8E3;
  opacity: 0.5;
  padding: 20px 40px;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  transition: all .1s ease-in;

  &:hover {
    opacity: 1;
  }

  @media (max-width: 768px) {
    opacity: 1;
  }
}

nav {
  margin-bottom: 100px;

  @media (max-width: 768px) {
    display: none;
  }

  ul {
    text-align: right;
    list-style: none;

    a {
      font-size: 30px;
      color: #FFF8E3;
      font-weight: bold;
      -webkit-transition: all .1s ease-in;
      -moz-transition: all .1s ease-in;
      -o-transition: all .1s ease-in;
      -ms-transition: all .1s ease-in;
      transition: all .1s ease-in;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.main {
  background: #FFF8E3;
  padding: 20px 50px;

  @media (max-width: 768px) {
    padding: 10px 20px;
  }

  article {
    padding: 20px 0;
    border-bottom: 1px solid #33332D;

    .misc {
      color: $gray-light;
      margin: 10px 0;

      & > span {
        margin-right: 10px;
      }
    }

    .content {
      font-size: 16px;
      line-height: 1.8;
      max-width: 760px;
    }

  }

  .readmore {
    font-size: 1.3em;
    font-family: "Microsoft YaHei", "微软雅黑";
  }
}

h1 a, h2 a {
  color: #333;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -ms-transition: all .1s ease-in;
  transition: all .1s ease-in;
  &:hover {
    color: lighten(#f00, 10%);
    text-decoration: none;
  }
}
