<div class="modal-dialog confirm-dialog" style="width:600px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="modal.close()">×</button>
            <h4>Markdown Cheat Sheet</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <article>
                        <p>Header</p>
          <pre>
# 一级标题
## 二级标题</pre>
                    </article>

                    <article>
                        <p>文本样式</p>
          <pre>
*斜体*
**粗体**</pre>
                    </article>

                    <article>
                        <p>多行代码</p>
          <pre>
```ruby
class Dog
  def bark
  end
end
```</pre>
                    </article>

                </div>
                <div class="col-md-4">
                    <article>
                        <p>无序列表</p>
          <pre>
* Item 1
* Item 2
  * Item 2a
  * Item 2b</pre>
                    </article>

                    <article>
                        <p>有序列表</p>
          <pre>
1. Item 1
2. Item 2
3. Item 3
   * Item 3a
   * Item 3b</pre>
                    </article>

                    <article>
                        <p>单行代码</p>
                        <pre>`rvm install 1.9.2`</pre>
                    </article>
                </div>

                <div class="col-md-4">
                    <article>
                        <p>图片</p>
          <pre>
![文字](url)</pre>
                    </article>

                    <article>
                        <p>链接</p>
          <pre>
[链接文字](url)</pre>
                    </article>

                    <article>
                        <p>引用</p>
          <pre>
般若波罗蜜多心经有云

> 观自在菩萨
> 行深般若波罗蜜多时</pre>
                    </article>

                </div>
            </div>
        </div>
    </div>
</div>